.asideText {
    text-align: center;
    margin: 1em;
    min-height: 3rem;
}

.choices {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
    height: 90vh;
}

.choices__locations {
    text-align: center;
}

#container {
    background-color: #0022d2;
}

.displayOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 0.25em gray;
    width: 35%;
    height: 90vh;
    margin: 1em;
    background-color: #ffb800;
    color: black;
}

.flexDisplay {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

#logoImg {
    width: 6em;
    height: auto;
    margin: 1em;
}

.headerTop {
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;
    text-shadow: white 0px 0px 10px;
    background-image: url("https://i.pinimg.com/originals/23/11/d5/2311d5617d256a7e279df541ed424a7c.jpg");
    padding: 1em;;
}

#locationDropdown {
    margin: 1em;
    padding: 0.25em;
}

#locationMessage {
    margin: 1em;
    text-align: center;
}

#newOrder {
    margin: 1em;
}

.orderBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#placeOrder {
    margin: 1em;
}

.pic {
    height: 5rem;
    width: auto;
}